:root {
  --blue1: #193251;
  --blue2: #7589a2;
  --blue3: #e0e4e8;
  --blue4: #f8f8f8;

  --orange1: #ff5a36;
  --orange2: #ff9c86;
  --orange3: #ffbdaf;
  --orange4: #ffded7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
