:root {
  --blue1: #193251;
  --blue2: #7589a2;
  --blue3: #e0e4e8;
  --blue4: #f8f8f8;

  --orange1: #ff5a36;
  --orange2: #ff9c86;
  --orange3: #ffbdaf;
  --orange4: #ffded7;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

button {
  box-shadow: 0 4px 10px rgba(255, 90, 54, 0.4);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  padding: 20px;
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../assets/background_shape_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

header h1 {
  margin-bottom: 2px;
}

header p {
  margin-top: 0px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: auto;
  padding: 0.6rem 1rem;
  margin: 2rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.68);
  z-index: 120;
}

.navigation img {
  max-height: 20px;
  opacity: 60%;
}

img.navi_active {
  opacity: 100%;
}