.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 89px;
}

.rate {
  background: var(--orange1);
  color: white;
  font-size: 16px;
  width: 200px;
  height: 48px;
}

.rate img {
  height: 12.67px;
  width: 13.33px;
}

.journal {
  margin: 020px 30px 0 30px;
  padding: 20px;
  border-radius: 6px;
  width: 315px;
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}

.notes {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(25, 50, 81);
}

.journal__div img {
  height: 22px;
  width: auto;
}

.star {
  background: url(../img/Star.png);
  background-size: cover;
  height: 35px;
  width: 35px;
}

.stars {
  display: flex;
  flex-flow: row nowrap;
}
