body {
  width: 375px;
  height: 856px;
  background: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pair {
  text-align: center;
  width: 315px;
  position: relative;
}

.pair div {
  border: 1px solid #e0e4e8;
  width: 315px;
  height: 58px;
  color: #7589a2;
  align-items: center;
  xfont-family: "Open Sans" sans-serif;
  border-radius: 6px 6px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pair div span {
  width: 125px;

  font-size: 16px;
  xfont-weight: 600;
  text-align: center;
  color: #7589a2;
}

.plus {
  width: 20.33px;
  height: 20.33px;
  color: #193251;
  position: absolute;
  top: 48px;
  left: 147.5px;
  z-index: 100;
}

.pair__headline {
  text-align: left;
  color: #193251;
  height: 16px;
  width: 50px;
  xfont-weight: 600px;
  font-size: 14px;
}
